.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @media (width < 1280px) {
    padding: 0 15px;
  }
}

.content {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
}
