.root {
  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;

  background: var(--color-bg-paper);
  border-bottom: 1px solid var(--color-dark-500);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @media (width < 1280px) {
    margin: 0 15px; // Ваш маргин с боков
  }
}
