.card {
  width: 420px;
  padding: 33px 36px 29px;

  > h1 {
    margin-bottom: 27px;
    text-align: center;
  }

  &.bigMargin {
    margin-bottom: 51px;
  }
}

.cardPaddingBottom {
  padding-bottom: 60px;
}

.checkbox {
  margin-bottom: 12px;
}

.textField {
  margin-bottom: 24px;
}

.textFieldMediumMargin {
  margin-bottom: 19px;
}

.button {
  margin-bottom: 20px;
}

.forgotPassword {
  cursor: pointer;

  display: flex;
  justify-content: flex-end;

  margin-right: 12px;
  margin-bottom: 66px;
}

.questionParagraph {
  display: flex;
  justify-content: center;
  margin-bottom: 11px;
  color: var(--color-light-900);
}

.signUp {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.descriptionParagraph {
  display: flex;
  justify-content: center;

  margin-bottom: 65px;

  color: var(--color-light-900);

  opacity: 0.5;
}

.descriptionParagraphMargin {
  margin-bottom: 41px;
}
