.container {
  display: flex;
  align-items: center;
}

.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  padding: 6px 26px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);

  border: 1px solid var(--color-dark-300);

  &:last-child {
    border-radius: 0 2px 2px 0;
  }

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:not(:first-child) {
    border-left: none;
  }

  &:focus-visible {
    z-index: 1;
    outline: 2px solid var(--color-info-900);
  }

  &:hover {
    z-index: 2;
    background: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
  }

  &:hover:not(:first-child) {
    border-left: none;
  }
}

.active {
  position: relative;
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.button:not(:first-child).active::before {
  content: '';

  position: absolute;
  top: -0.7px;
  left: -1px;

  width: 1px;
  height: calc(100% + 1.4px);

  background: var(--color-primary);
}

.button:not(:first-child):focus-visible::before {
  content: '';

  position: absolute;
  top: -1px;
  left: -1px;

  width: 1px;
  height: calc(100% + 2px);

  background: var(--color-info-900);
}

.button:not(:first-child):hover::before {
  content: '';

  position: absolute;
  z-index: 2;
  top: -1px;
  left: -1px;

  width: 1px;
  height: calc(100% + 2px);

  background: var(--color-dark-100);
}
